# Extra Step: Manipulating Data


My dataset:https://www.kaggle.com/datasets/robertonacu/tmdb-kdramas-2022?select=networks.csv

Import the necessary libraries and create your dataframe(s).

***

In [1]:
#had to make copies of datasets to move into the folder for this checkpoint to access the files
#needed to get exact name of csvs so I used a "magic" line to access terminal here to navigate to folder and get exact csv names
%ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 7EB9-A76C

 Directory of C:\Users\Super\Desktop\Women+22\graded4\K-Dramas\cleaning-data-checkpoint

03/06/2023  10:02 PM    <DIR>          .
03/03/2023  01:37 PM    <DIR>          ..
12/28/2022  09:25 PM                23 .gitignore
03/04/2023  03:04 PM    <DIR>          .ipynb_checkpoints
03/05/2023  11:52 PM           811,914 checkpoint-three.ipynb
03/05/2023  11:45 PM               277 genre.csv
01/04/2023  04:38 PM               241 genres - Copy.csv
03/06/2023  10:02 PM           105,046 manipulation.ipynb
03/05/2023  11:45 PM             1,299 network_cleaned.csv
01/04/2023  04:38 PM             8,258 networks - Copy.csv
01/04/2023  04:38 PM           579,685 people - Copy.csv
03/05/2023  11:45 PM           456,442 people_cleaned.csv
01/04/2023  04:38 PM            19,189 production_companies - Copy.csv
01/04/2023  04:38 PM         1,011,711 series - Copy.csv
03/05/2023  11:45 PM           742,597 series_cleaned.csv
              12 File(s)      3,736,682 bytes
               3 Dir(s)  289,313,996,800 bytes free

In [2]:
%cd cleaning-data-checkpoint

[WinError 2] The system cannot find the file specified: 'cleaning-data-checkpoint'
C:\Users\Super\Desktop\Women+22\graded4\K-Dramas\cleaning-data-checkpoint

In [3]:
%ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 7EB9-A76C

 Directory of C:\Users\Super\Desktop\Women+22\graded4\K-Dramas\cleaning-data-checkpoint

03/06/2023  10:02 PM    <DIR>          .
03/03/2023  01:37 PM    <DIR>          ..
12/28/2022  09:25 PM                23 .gitignore
03/04/2023  03:04 PM    <DIR>          .ipynb_checkpoints
03/05/2023  11:52 PM           811,914 checkpoint-three.ipynb
03/05/2023  11:45 PM               277 genre.csv
01/04/2023  04:38 PM               241 genres - Copy.csv
03/06/2023  10:02 PM           105,046 manipulation.ipynb
03/05/2023  11:45 PM             1,299 network_cleaned.csv
01/04/2023  04:38 PM             8,258 networks - Copy.csv
01/04/2023  04:38 PM           579,685 people - Copy.csv
03/05/2023  11:45 PM           456,442 people_cleaned.csv
01/04/2023  04:38 PM            19,189 production_companies - Copy.csv
01/04/2023  04:38 PM         1,011,711 series - Copy.csv
03/05/2023  11:45 PM           742,597 series_cleaned.csv
              12 File(s)      3,736,682 bytes
               3 Dir(s)  289,313,931,264 bytes free

In [4]:
#import needed libraires with aliases
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

# Again, I will approach the 5 datasets individually for cleaning as I did for EDA.
    
# read in and name the 5 datasets
series = pd.read_csv("series_cleaned.csv")
genre = pd.read_csv("genre.csv")
network = pd.read_csv("network_cleaned.csv")
people = pd.read_csv("people_cleaned.csv")
production_companies = pd.read_csv("production_companies - Copy.csv") #actually, I'm not keeping this one. many nulls and not needed for business issue.

***

<h1 style="background-color:gray; color:White; text-align:center">Reviewing Cleaned Data</h1>

***

### Series

In [5]:
series.shape

(1474, 18)

In [6]:
for col in series.columns:
    pct_missing = np.mean(series[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
tmdb_id - 0%
name - 0%
cast_ids - 0%
genres_ids - 0%
number_of_seasons - 0%
number_of_episodes - 1%
episode_run_time - 14%
synopsis - 5%
popularity - 0%
average_rating - 25%
rating_count - 25%
next_episode_to_air - 98%
networks_ids - 13%
airing_date_dt - 4%
year - 4%
month - 4%
weekday - 4%

In [7]:
series.head(1)

,Unnamed: 0,tmdb_id,name,cast_ids,genres_ids,number_of_seasons,number_of_episodes,episode_run_time,synopsis,popularity,average_rating,rating_count,next_episode_to_air,networks_ids,airing_date_dt,year,month,weekday
0,0,208249,Game of Witches,"582555, 2117665, 1066220","18, 80, 9648",1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0

In [8]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1474 non-null   int64
 1   tmdb_id              1474 non-null   int64
 2   name                 1474 non-null   object
 3   cast_ids             1474 non-null   object
 4   genres_ids           1474 non-null   object
 5   number_of_seasons    1474 non-null   float64
 6   number_of_episodes   1466 non-null   float64
 7   episode_run_time     1271 non-null   float64
 8   synopsis             1400 non-null   object
 9   popularity           1474 non-null   float64
 10  average_rating       1109 non-null   float64
 11  rating_count         1109 non-null   float64
 12  next_episode_to_air  36 non-null     float64
 13  networks_ids         1279 non-null   object
 14  airing_date_dt       1418 non-null   object
 15  year                 1418 non-null   float64
 16  month                1418 non-null   float64
 17  weekday              1418 non-null   float64
dtypes: float64(10), int64(2), object(6)
memory usage: 207.4+ KB

### Networks

In [9]:
network.shape

(77, 3)

In [10]:
network.columns

Index(['Unnamed: 0', 'tmdb_id', 'name'], dtype='object')

In [11]:
network.head(1)

   Unnamed: 0  tmdb_id        name
0           0     3266  GagaOOLala

In [12]:
new_columns = {'tmdb_id': 'network_tmbd_id', 'name': 'network',}

network = network.rename(columns = new_columns) 

network.head(1)

   Unnamed: 0  network_tmbd_id     network
0           0             3266  GagaOOLala

### People

In [13]:
people.shape

(3465, 13)

In [14]:
people.head(1)

,Unnamed: 0,tmdb_id,name,place_of_birth,deathday,gender,known_for_department,popularity,profile_img_url,birthday_dt,year,month,weekday
0,0,3686810,Kim Hyo Myung,NaN,NaN,2.0,Acting,0.6,https://image.tmdb.org/t/p/original/ezzJi0RWmh...,1988-03-18,1988.0,3.0,4.0

In [15]:
new_columns = {'tmdb_id': 'actor_tmdb_id', 'name': 'actor',
       'gender': 'sex', 'popularity': 'pop actor', 'profile_img_url': 'headshot',
       'birthday_dt': 'birthday', 'year': 'birth_yr', 'month': 'birth_month', 'weekday': 'birth_weekday'}

people = people.rename(columns = new_columns) 
people.head(1)

,Unnamed: 0,actor_tmdb_id,actor,place_of_birth,deathday,sex,known_for_department,pop actor,headshot,birthday,birth_yr,birth_month,birth_weekday
0,0,3686810,Kim Hyo Myung,NaN,NaN,2.0,Acting,0.6,https://image.tmdb.org/t/p/original/ezzJi0RWmh...,1988-03-18,1988.0,3.0,4.0

In [16]:
for col in people.columns:
    pct_missing = np.mean(people[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
actor_tmdb_id - 0%
actor - 0%
place_of_birth - 47%
deathday - 99%
sex - 15%
known_for_department - 0%
pop actor - 0%
headshot - 21%
birthday - 18%
birth_yr - 18%
birth_month - 18%
birth_weekday - 18%

In [17]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3465 entries, 0 to 3464
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            3465 non-null   int64
 1   actor_tmdb_id         3465 non-null   int64
 2   actor                 3465 non-null   object
 3   place_of_birth        1851 non-null   object
 4   deathday              40 non-null     object
 5   sex                   2935 non-null   float64
 6   known_for_department  3465 non-null   object
 7   pop actor             3465 non-null   float64
 8   headshot              2726 non-null   object
 9   birthday              2828 non-null   object
 10  birth_yr              2828 non-null   float64
 11  birth_month           2828 non-null   float64
 12  birth_weekday         2828 non-null   float64
dtypes: float64(5), int64(2), object(6)
memory usage: 352.0+ KB

### Genre

In [18]:
genre.shape

(15, 3)

In [19]:
genre.head(1)

   Unnamed: 0  tmdb_id   name
0           0       18  Drama

In [20]:
genre.isnull().sum()

Unnamed: 0    0
tmdb_id       0
name          0
dtype: int64

In [21]:
new_columns = {'tmdb_id': 'genre_tmdb_id', 'name': 'genre'}
genre = genre.rename(columns = new_columns) 
genre.head()

   Unnamed: 0  genre_tmdb_id               genre
0           0             18               Drama
1           1             80               Crime
2           2           9648             Mystery
3           3          10759  Action & Adventure
4           4          10765    Sci-Fi & Fantasy

<h1 style="background-color:gray; color:White; text-align:center">Manipulating Cleaned Data</h1>

In [22]:
series.columns

Index(['Unnamed: 0', 'tmdb_id', 'name', 'cast_ids', 'genres_ids',
       'number_of_seasons', 'number_of_episodes', 'episode_run_time',
       'synopsis', 'popularity', 'average_rating', 'rating_count',
       'next_episode_to_air', 'networks_ids', 'airing_date_dt', 'year',
       'month', 'weekday'],
      dtype='object')

In [23]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1474 non-null   int64
 1   tmdb_id              1474 non-null   int64
 2   name                 1474 non-null   object
 3   cast_ids             1474 non-null   object
 4   genres_ids           1474 non-null   object
 5   number_of_seasons    1474 non-null   float64
 6   number_of_episodes   1466 non-null   float64
 7   episode_run_time     1271 non-null   float64
 8   synopsis             1400 non-null   object
 9   popularity           1474 non-null   float64
 10  average_rating       1109 non-null   float64
 11  rating_count         1109 non-null   float64
 12  next_episode_to_air  36 non-null     float64
 13  networks_ids         1279 non-null   object
 14  airing_date_dt       1418 non-null   object
 15  year                 1418 non-null   float64
 16  month                1418 non-null   float64
 17  weekday              1418 non-null   float64
dtypes: float64(10), int64(2), object(6)
memory usage: 207.4+ KB

In [24]:
series.head(1)

,Unnamed: 0,tmdb_id,name,cast_ids,genres_ids,number_of_seasons,number_of_episodes,episode_run_time,synopsis,popularity,average_rating,rating_count,next_episode_to_air,networks_ids,airing_date_dt,year,month,weekday
0,0,208249,Game of Witches,"582555, 2117665, 1066220","18, 80, 9648",1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0

In [25]:
#converting to strings and splitting at each comma to make new rows

series['networks_ids'] = series['networks_ids'].str.split(",")
series['cast_ids'] = series['cast_ids'].str.split(",")
series['genres_ids'] = series['genres_ids'].str.split(",")

In [26]:
series.head(1)

,Unnamed: 0,tmdb_id,name,cast_ids,genres_ids,number_of_seasons,number_of_episodes,episode_run_time,synopsis,popularity,average_rating,rating_count,next_episode_to_air,networks_ids,airing_date_dt,year,month,weekday
0,0,208249,Game of Witches,"[582555, 2117665, 1066220]","[18, 80, 9648]",1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,[97],2022-10-11,2022.0,10.0,1.0

In [27]:
series = series.explode('genres_ids')
series.head(1)

,Unnamed: 0,tmdb_id,name,cast_ids,genres_ids,number_of_seasons,number_of_episodes,episode_run_time,synopsis,popularity,average_rating,rating_count,next_episode_to_air,networks_ids,airing_date_dt,year,month,weekday
0,0,208249,Game of Witches,"[582555, 2117665, 1066220]",18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,[97],2022-10-11,2022.0,10.0,1.0

In [28]:
#new_columns = {"genres_ids": "genres", "networks_ids": "networks", "production_companies_ids": "production_companies", "directors_ids": "directors", "cast_ids": "cast"}
#series = series.rename(columns = new_columns)

new_columns = {'name': 'series', 'number_of_seasons': 'seasons', 'number_of_episodes': 'episodes',
       'popularity': 'pop series', 'airing_date_dt': 'air_dt', 'year': 'air_yr',
       'month': 'air_month', 'weekday': 'air_weekday'}

series = series.rename(columns = new_columns)

In [29]:
series = series.explode('cast_ids')
series.head(1)

,Unnamed: 0,tmdb_id,series,cast_ids,genres_ids,seasons,episodes,episode_run_time,synopsis,pop series,average_rating,rating_count,next_episode_to_air,networks_ids,air_dt,air_yr,air_month,air_weekday
0,0,208249,Game of Witches,582555,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,[97],2022-10-11,2022.0,10.0,1.0

In [30]:
series = series.explode('networks_ids')
series.head(5)

,Unnamed: 0,tmdb_id,series,cast_ids,genres_ids,seasons,episodes,episode_run_time,synopsis,pop series,average_rating,rating_count,next_episode_to_air,networks_ids,air_dt,air_yr,air_month,air_weekday
0,0,208249,Game of Witches,582555,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0
0,0,208249,Game of Witches,2117665,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0
0,0,208249,Game of Witches,1066220,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0
0,0,208249,Game of Witches,582555,80,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0
0,0,208249,Game of Witches,2117665,80,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,NaN,25.0,97,2022-10-11,2022.0,10.0,1.0

In [31]:
series.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27871 entries, 0 to 1473
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           27871 non-null  int64
 1   tmdb_id              27871 non-null  int64
 2   series               27871 non-null  object
 3   cast_ids             27871 non-null  object
 4   genres_ids           27871 non-null  object
 5   seasons              27871 non-null  float64
 6   episodes             27823 non-null  float64
 7   episode_run_time     25948 non-null  float64
 8   synopsis             27080 non-null  object
 9   pop series           27871 non-null  float64
 10  average_rating       24258 non-null  float64
 11  rating_count         24258 non-null  float64
 12  next_episode_to_air  550 non-null    float64
 13  networks_ids         24082 non-null  object
 14  air_dt               27427 non-null  object
 15  air_yr               27427 non-null  float64
 16  air_month            27427 non-null  float64
 17  air_weekday          27427 non-null  float64
dtypes: float64(10), int64(2), object(6)
memory usage: 4.0+ MB

In [32]:
# convert the columns I want to merge to be integers instead of object data type because you can't merge columns with two diff data types together
series['networks_ids'] = pd.to_numeric(series['networks_ids'])
series['cast_ids'] = pd.to_numeric(series['cast_ids'])
series['genres_ids'] = pd.to_numeric(series['genres_ids'])
series.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27871 entries, 0 to 1473
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           27871 non-null  int64
 1   tmdb_id              27871 non-null  int64
 2   series               27871 non-null  object
 3   cast_ids             27871 non-null  int64
 4   genres_ids           27871 non-null  int64
 5   seasons              27871 non-null  float64
 6   episodes             27823 non-null  float64
 7   episode_run_time     25948 non-null  float64
 8   synopsis             27080 non-null  object
 9   pop series           27871 non-null  float64
 10  average_rating       24258 non-null  float64
 11  rating_count         24258 non-null  float64
 12  next_episode_to_air  550 non-null    float64
 13  networks_ids         24082 non-null  float64
 14  air_dt               27427 non-null  object
 15  air_yr               27427 non-null  float64
 16  air_month            27427 non-null  float64
 17  air_weekday          27427 non-null  float64
dtypes: float64(11), int64(4), object(3)
memory usage: 4.0+ MB

In [33]:
series.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27871 entries, 0 to 1473
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           27871 non-null  int64
 1   tmdb_id              27871 non-null  int64
 2   series               27871 non-null  object
 3   cast_ids             27871 non-null  int64
 4   genres_ids           27871 non-null  int64
 5   seasons              27871 non-null  float64
 6   episodes             27823 non-null  float64
 7   episode_run_time     25948 non-null  float64
 8   synopsis             27080 non-null  object
 9   pop series           27871 non-null  float64
 10  average_rating       24258 non-null  float64
 11  rating_count         24258 non-null  float64
 12  next_episode_to_air  550 non-null    float64
 13  networks_ids         24082 non-null  float64
 14  air_dt               27427 non-null  object
 15  air_yr               27427 non-null  float64
 16  air_month            27427 non-null  float64
 17  air_weekday          27427 non-null  float64
dtypes: float64(11), int64(4), object(3)
memory usage: 4.0+ MB

<h1 style="background-color:gray; color:White; text-align:center">Merging Data</h1>

***

In [34]:
network.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       77 non-null     int64
 1   network_tmbd_id  77 non-null     int64
 2   network          77 non-null     object
dtypes: int64(2), object(1)
memory usage: 1.9+ KB

In [35]:
#merging the networks data onto the series table
left_merge_network = pd.merge(series, network, left_on='networks_ids', right_on='network_tmbd_id', how='left')

In [36]:
left_merge_network.head(1)

,Unnamed: 0_x,tmdb_id,series,cast_ids,genres_ids,seasons,episodes,episode_run_time,synopsis,pop series,...,rating_count,next_episode_to_air,networks_ids,air_dt,air_yr,air_month,air_weekday,Unnamed: 0_y,network_tmbd_id,network
0,0,208249,Game of Witches,582555,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,...,NaN,25.0,97.0,2022-10-11,2022.0,10.0,1.0,19.0,97.0,MBC

In [37]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3465 entries, 0 to 3464
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            3465 non-null   int64
 1   actor_tmdb_id         3465 non-null   int64
 2   actor                 3465 non-null   object
 3   place_of_birth        1851 non-null   object
 4   deathday              40 non-null     object
 5   sex                   2935 non-null   float64
 6   known_for_department  3465 non-null   object
 7   pop actor             3465 non-null   float64
 8   headshot              2726 non-null   object
 9   birthday              2828 non-null   object
 10  birth_yr              2828 non-null   float64
 11  birth_month           2828 non-null   float64
 12  birth_weekday         2828 non-null   float64
dtypes: float64(5), int64(2), object(6)
memory usage: 352.0+ KB

In [38]:
#merging the people table onto the previoiusly merged table
#merged_table = pd.merge(table1, pd.merge(table2, table3, on="id"), on="id")

#left_merge_network = pd.merge(series, network, left_on='networks_ids', right_on='tmdb_id', how='left')

left_merge_plus_people = pd.merge(left_merge_network, people, left_on='cast_ids', right_on='actor_tmdb_id', how='left')

In [39]:
left_merge_plus_people.head(1)

,Unnamed: 0_x,tmdb_id,series,cast_ids,genres_ids,seasons,episodes,episode_run_time,synopsis,pop series,...,place_of_birth,deathday,sex,known_for_department,pop actor,headshot,birthday,birth_yr,birth_month,birth_weekday
0,0,208249,Game of Witches,582555,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,...,"Seoul, South Korea",NaN,1.0,Acting,1.934,https://image.tmdb.org/t/p/original/zxjXig4bOT...,1972-01-05,1972.0,1.0,2.0

In [40]:
genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     15 non-null     int64
 1   genre_tmdb_id  15 non-null     int64
 2   genre          15 non-null     object
dtypes: int64(2), object(1)
memory usage: 488.0+ bytes

In [41]:
pd.options.display.max_colwidth

50

In [42]:
#merging the genre table onto the previoiusly merged table. So the orders is series, networks, people, genres - i don't know what that's the order
#elated that the merges finally worked but this table is unreadable and confusing as is. I probably should have changed the column names before joining or after joining each but I'm just going to tackle them all in one line of mega code

left_merge_plus_people_genre = pd.merge(left_merge_plus_people, genre, left_on='genres_ids', right_on='genre_tmdb_id', how='left')
left_merge_plus_people_genre.head(1)

C:\Users\Super\AppData\Local\Temp\ipykernel_39344\1969647138.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  left_merge_plus_people_genre = pd.merge(left_merge_plus_people, genre, left_on='genres_ids', right_on='genre_tmdb_id', how='left')

,Unnamed: 0_x,tmdb_id,series,cast_ids,genres_ids,seasons,episodes,episode_run_time,synopsis,pop series,...,known_for_department,pop actor,headshot,birthday,birth_yr,birth_month,birth_weekday,Unnamed: 0_y,genre_tmdb_id,genre
0,0,208249,Game of Witches,582555,18,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,...,Acting,1.934,https://image.tmdb.org/t/p/original/zxjXig4bOT...,1972-01-05,1972.0,1.0,2.0,0,18,Drama

before going back and renaming columns pre-merge, it was a mess - original output for: left_merge_plus_people_genre.columns was the below:

Index(['Unnamed: 0_x', 'tmdb_id', 'series', 'cast_ids', 'genres_ids',
       'seasons', 'episodes', 'episode_run_time', 'synopsis', 'pop series',
       'average_rating', 'rating_count', 'next_episode_to_air', 'networks_ids',
       'air_dt', 'air_yr', 'air_month', 'air_weekday', 'Unnamed: 0_y',
       'network_tmbd_id', 'network', 'Unnamed: 0_x', 'actor_tmdb_id', 'actor',
       'place_of_birth', 'deathday', 'sex', 'known_for_department',
       'pop actor', 'headshot', 'birthday', 'birth_yr', 'birth_month',
       'birth_weekday', 'Unnamed: 0_y', 'genre_tmdb_id', 'genre'],
      dtype='object')

In [43]:
#looking at this mess of column names I've created

left_merge_plus_people_genre.columns

Index(['Unnamed: 0_x', 'tmdb_id', 'series', 'cast_ids', 'genres_ids',
       'seasons', 'episodes', 'episode_run_time', 'synopsis', 'pop series',
       'average_rating', 'rating_count', 'next_episode_to_air', 'networks_ids',
       'air_dt', 'air_yr', 'air_month', 'air_weekday', 'Unnamed: 0_y',
       'network_tmbd_id', 'network', 'Unnamed: 0_x', 'actor_tmdb_id', 'actor',
       'place_of_birth', 'deathday', 'sex', 'known_for_department',
       'pop actor', 'headshot', 'birthday', 'birth_yr', 'birth_month',
       'birth_weekday', 'Unnamed: 0_y', 'genre_tmdb_id', 'genre'],
      dtype='object')

In [50]:
#creating a new df, dropping columns and rearranging columns because now it contains all the rows i want
    #probably won't need the id column any longer but keeping it for peace of mind. with exploding all of the rows, there are so many more now and 
    #just want to be able to easily that there aren't mistakes
    #also, its possible some actors will have the same names, so keeping at least one row of ids seems good

k_dramas = left_merge_plus_people_genre[['tmdb_id', 'series', 'network', 'genre', 'seasons', 'episodes', 'episode_run_time', 'synopsis', 'pop series',
       'average_rating', 'rating_count', 'next_episode_to_air',
       'air_dt', 'air_yr', 'air_month', 'air_weekday',  'actor', 'known_for_department',
       'sex', 'pop actor', 'place_of_birth',  
        'birthday', 'birth_yr', 'birth_month',
       'birth_weekday', 'deathday', 'headshot']]

k_dramas.head()

,tmdb_id,series,network,genre,seasons,episodes,episode_run_time,synopsis,pop series,average_rating,...,known_for_department,sex,pop actor,place_of_birth,birthday,birth_yr,birth_month,birth_weekday,deathday,headshot
0,208249,Game of Witches,MBC,Drama,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,...,Acting,1.0,1.934,"Seoul, South Korea",1972-01-05,1972.0,1.0,2.0,NaN,https://image.tmdb.org/t/p/original/zxjXig4bOT...
1,208249,Game of Witches,MBC,Drama,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,...,Acting,1.0,3.816,"Seoul, South Korea",1988-07-26,1988.0,7.0,1.0,NaN,https://image.tmdb.org/t/p/original/dPwD92f7iw...
2,208249,Game of Witches,MBC,Drama,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,...,Acting,2.0,3.471,"Seoul, South Korea",1982-06-02,1982.0,6.0,2.0,NaN,https://image.tmdb.org/t/p/original/kbNyaREVYR...
3,208249,Game of Witches,MBC,Crime,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,...,Acting,1.0,1.934,"Seoul, South Korea",1972-01-05,1972.0,1.0,2.0,NaN,https://image.tmdb.org/t/p/original/zxjXig4bOT...
4,208249,Game of Witches,MBC,Crime,1.0,29.0,30.0,Yu Kyung is a successful woman who is proficie...,414.151,NaN,...,Acting,1.0,3.816,"Seoul, South Korea",1988-07-26,1988.0,7.0,1.0,NaN,https://image.tmdb.org/t/p/original/dPwD92f7iw...

In [45]:
k_dramas.shape

(27871, 28)

***

<h1 style="background-color:gray; color:White; text-align:leftr">Summarize Your Results</h1>

Make note of your answers to the following questions.

1. Did your data require further manipulation after cleaning?
    * Yes
    * I chose to convert some object columns to numerical data type, then split and explode the cells with multiple values. Then, finally, I merged the three data frames onto the series table and edited columns

2. Did the process of manipulating your data give you new insights into your dataset?
    * Yes! 
    * There were columns that I held onto that I was able to give up to increase the readability of the data. and i had to drop columns that were formed as new key columns in merges.
    
3. Is there anything you would like to make note of when it comes to modeling the data and making visualizations?
    * I'm not sure how this is gonna go ... :O

In [51]:
k_dramas.to_csv("k_dramas.csv")

In [52]:
%ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 7EB9-A76C

 Directory of C:\Users\Super\Desktop\Women+22\graded4\K-Dramas\cleaning-data-checkpoint

03/06/2023  10:21 PM    <DIR>          .
03/06/2023  10:21 PM    <DIR>          ..
12/28/2022  09:25 PM                23 .gitignore
03/04/2023  03:04 PM    <DIR>          .ipynb_checkpoints
03/05/2023  11:52 PM           811,914 checkpoint-three.ipynb
03/05/2023  11:45 PM               277 genre.csv
01/04/2023  04:38 PM               241 genres - Copy.csv
03/06/2023  10:31 PM        15,554,114 k_dramas.csv
03/06/2023  10:04 PM            90,608 manipulation.ipynb
03/05/2023  11:45 PM             1,299 network_cleaned.csv
01/04/2023  04:38 PM             8,258 networks - Copy.csv
01/04/2023  04:38 PM           579,685 people - Copy.csv
03/05/2023  11:45 PM           456,442 people_cleaned.csv
01/04/2023  04:38 PM            19,189 production_companies - Copy.csv
01/04/2023  04:38 PM         1,011,711 series - Copy.csv
03/05/2023  11:45 PM           742,597 series_cleaned.csv
              13 File(s)     19,276,358 bytes
               3 Dir(s)  288,746,356,736 bytes free